:root {
    --bg:        #1f1f1f;
    --bg-light:  #252526;
    --bg-card:   #2d2d2d;
    /* --fg:        #eee; */
    --fg: #d4d4d4;
    --fg-muted:  #aaa;
    --blue:      #3794ff;
    --purple:    #c586c0;
    --cyan:      #9cdcfe;
    --teal:      #4ec9b0;
    /* --orange:    #ce9178; */
    --orange:    #f0a789;
    --red:       #f14c4c;
    --lightred: #ff8080;
    --yellow:    #dcdcaa;
    --darkyellow: #d6b97d;
    /* --comment:   #6a9955; */
    --comment:   #99d17f;
}